*.o
*.d
*.obj
*.dis
*.lo
*.vscode*
x64
.vs
*.in
*.Plo
*.m4
*.out
*.pc
*.la
*.sh
*.log
FW/nu4100/app/build/gp/bin/boot10065/inu_target.out.nonstripped
FW/nu4100/app/build/gp/bin/boot0/inu_target.out.nonstripped
FW/nu4100/app/target/gp/prj/make/inu_target.out.nonstripped
bin/linux_gcc-7.3_armv8/
**release/
**debug/
FW/nu4100/app/host/test/SandBox/record
*.vscode*
x64
.vs
*.in
*.Plo
*.m4
*.out
*.pc
*.la
*.sh
*.log
FW/nu4100/app/build/gp/bin/boot10065/inu_target.out.nonstripped
FW/nu4100/app/build/gp/bin/boot0/inu_target.out.nonstripped
FW/nu4100/app/target/gp/prj/make/inu_target.out.nonstripped
bin/linux_gcc-7.3_armv8/
**release/
**debug/
FW/nu4100/app/host/test/SandBox/record
FW/inu_usb_lib/driver/libusb/src/.deps
FW/inu_usb_lib/driver/libusb/src/.libs
FW/inu_usb_lib/driver/libusb/src/Makefile
FW/inu_usb_lib/driver/libusb/src/Makefile.in
FW/inu_usb_lib/driver/libusb/src/!doc/Makefile.in
FW/inu_usb_lib/driver/libusb/src/*.la
FW/inu_usb_lib/driver/libusb/src/*.lo
FW/inu_usb_lib/driver/libusb/src/*.o
FW/inu_usb_lib/driver/libusb/src/*.js
FW/inu_usb_lib/driver/libusb/src/*.wasm
FW/inu_usb_lib/driver/libusb/src/*.html
FW/inu_usb_lib/driver/libusb/src/libtool
FW/inu_usb_lib/driver/libusb/src/ltmain.sh
FW/inu_usb_lib/driver/libusb/src/missing
FW/inu_usb_lib/driver/libusb/src/stamp-h1
FW/inu_usb_lib/driver/libusb/src/m4/
FW/inu_usb_lib/driver/libusb/src/autom4te.cache
FW/inu_usb_lib/driver/libusb/src/INSTALL
FW/inu_usb_lib/driver/libusb/src/install-sh
FW/inu_usb_lib/driver/libusb/src/depcomp
FW/inu_usb_lib/driver/libusb/src/configure
FW/inu_usb_lib/driver/libusb/src/aclocal.m4
FW/inu_usb_lib/driver/libusb/src/compile
FW/inu_usb_lib/driver/libusb/src/config.guess
FW/inu_usb_lib/driver/libusb/src/config.h*
FW/inu_usb_lib/driver/libusb/src/!msvc/config.h
FW/inu_usb_lib/driver/libusb/src/!android/config.h
FW/inu_usb_lib/driver/libusb/src/!Xcode/config.h
FW/inu_usb_lib/driver/libusb/src/.vs
FW/inu_usb_lib/driver/libusb/src/config.log
FW/inu_usb_lib/driver/libusb/src/config.status
FW/inu_usb_lib/driver/libusb/src/config.sub
FW/inu_usb_lib/driver/libusb/src/*.swp
FW/inu_usb_lib/driver/libusb/src/doxygen.cfg
FW/inu_usb_lib/driver/libusb/src/examples/listdevs
FW/inu_usb_lib/driver/libusb/src/examples/xusb
FW/inu_usb_lib/driver/libusb/src/examples/dpfp
FW/inu_usb_lib/driver/libusb/src/examples/dpfp_threaded
FW/inu_usb_lib/driver/libusb/src/examples/fxload
FW/inu_usb_lib/driver/libusb/src/examples/hotplugtest
FW/inu_usb_lib/driver/libusb/src/examples/sam3u_benchmark
FW/inu_usb_lib/driver/libusb/src/examples/testlibusb
FW/inu_usb_lib/driver/libusb/src/tests/stress
FW/inu_usb_lib/driver/libusb/src/android/libs
FW/inu_usb_lib/driver/libusb/src/android/obj
FW/inu_usb_lib/driver/libusb/src/*.exe
FW/inu_usb_lib/driver/libusb/src/*.pc
FW/inu_usb_lib/driver/libusb/src/doc/api-1.0
FW/inu_usb_lib/driver/libusb/src/*.plg
FW/inu_usb_lib/driver/libusb/src/*.ncb
FW/inu_usb_lib/driver/libusb/src/*.opt
FW/inu_usb_lib/driver/libusb/src/Debug
FW/inu_usb_lib/driver/libusb/src/Release
FW/inu_usb_lib/driver/libusb/src/Debug-MT
FW/inu_usb_lib/driver/libusb/src/Release-MT
FW/inu_usb_lib/driver/libusb/src/*.db
FW/inu_usb_lib/driver/libusb/src/*.user
FW/inu_usb_lib/driver/libusb/src/*.suo
FW/inu_usb_lib/driver/libusb/src/*.sdf
FW/inu_usb_lib/driver/libusb/src/*.opensdf
FW/inu_usb_lib/driver/libusb/src/*.patch
FW/inu_usb_lib/driver/libusb/src/*~
FW/inu_usb_lib/driver/libusb/src/*.orig
FW/inu_usb_lib/driver/libusb/src/.dirstamp
FW/inu_usb_lib/driver/libusb/src/.amend
FW/inu_usb_lib/driver/libusb/src/.DS_Store
FW/inu_usb_lib/driver/libusb/src/Xcode/build
FW/inu_usb_lib/driver/libusb/src/xcshareddata
FW/inu_usb_lib/driver/libusb/src/xcuserdata
FW/inu_usb_lib/driver/libusb/src/*.xcuserdatad
FW/inu_usb_lib/driver/libusb/src/*.xccheckout
FW/inu_usb_lib/driver/libusb/src/*.xcscmblueprint
FW/inu_usb_lib/driver/libusb/src/*.xcworkspace
FW/inu_usb_lib/driver/libusb/src/build/
FW/inu_usb_lib/driver/libusb/src/tags
FW/inu_usb_lib/driver/libusb/src/cscope.out
FW/inu_storage_lib/prj/cmake/build/CMakeFiles/
FW/inu_usb_lib/driver/libusb/bin/linux_gcc-7.4_x86_64/libusb-1.0.a
FW/inu_usb_lib/driver/libusb/bin/linux_gcc-7.4_x86_64/libusb-1.0.so
FW/inu_usb_lib/driver/libusb/bin/linux_gcc-7.4_x86_64/libusb-1.0.so.0
FW/inu_usb_lib/driver/libusb/lib/libusb-1.0.a
FW/inu_usb_lib/driver/libusb/lib/libusb-1.0.so
FW/inu_usb_lib/driver/libusb/lib/libusb-1.0.so.0
FW/inu_usb_lib/driver/libusb/lib/libusb-1.0.so.0.1.0
FW/inu_storage_lib/prj/cmake/build/
**/CMakeFiles/
FW/inu_usb_lib/driver/libusb/src/tests/.deps/
FW/nu4100/app/build/host/bin/linux_gcc-7.4_x86_64/
FW/inu_usb_lib/driver/libusb/src/examples/.deps/
FW/inu_usb_lib/driver/libusb/src/libusb/.libs/
FW/inu_usb_lib/prj/cmake/build/inu_usb_test
FW/inu_usb_lib/driver/libusb/src/doc/Makefile
FW/inu_usb_lib/driver/libusb/src/examples/Makefile
FW/inu_usb_lib/driver/libusb/src/libusb/Makefile
FW/inu_usb_lib/prj/cmake/build/cmake_install.cmake
FW/inu_usb_lib/prj/cmake/build/CMakeCache.txt
FW/inu_usb_lib/prj/cmake/build/inu_usb_wait
FW/inu_usb_lib/prj/cmake/build/libinu_usb_lib.so
FW/inu_usb_lib/prj/cmake/build/Makefile
FW/nu4100/app/host/inu_host_lib/prj/cmake/build/cmake_install.cmake
FW/nu4100/app/host/inu_host_lib/prj/cmake/build/CMakeCache.txt
FW/nu4100/app/host/inu_host_lib/prj/cmake/build/inu_sandbox
FW/nu4100/app/host/inu_host_lib/prj/cmake/build/libinu_host_lib_4100.so
FW/nu4100/app/host/inu_host_lib/prj/cmake/build/libinu_sandbox_fw_lib.so
FW/nu4100/app/host/inu_host_lib/prj/cmake/build/Makefile
FW/inu_usb_lib/driver/libusb/src/doc/doxygen.cfg
FW/inu_usb_lib/driver/libusb/src/libusb/os/.dirstamp
FW/inu_usb_lib/driver/libusb/src/libusb/os/.deps/.dirstamp
FW/inu_usb_lib/driver/libusb/src/tests/Makefile
FW/build/bin/nu4100/target/boot0/zip/nu4100.zip
FW/build/bin/nu4100/target/boot0/targetfs/
FW/build/venv/
scripts/venv/
